@import "tailwindcss";
@import "tw-animate-css";


html,
body {
  background-color: #f3f1ed;
  overscroll-behavior: none;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2661 0.0625 153.0394);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2661 0.0625 153.0394);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2661 0.0625 153.0394);
  --primary: oklch(0.6271 0.1699 149.2138);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9669 0.0287 158.0617);
  --secondary-foreground: oklch(0.4104 0.1066 149.9393);
  --muted: oklch(0.9719 0.0055 158.5966);
  --muted-foreground: oklch(0.5252 0.0315 157.3462);
  --accent: oklch(0.9669 0.0287 158.0617);
  --accent-foreground: oklch(0.6230 0.1688 149.1777);
  --destructive: oklch(0.6356 0.2082 25.3782);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.9324 0.0207 158.2303);
  --input: oklch(0.9324 0.0207 158.2303);
  --ring: oklch(0.6271 0.1699 149.2138);
  --chart-1: oklch(0.6230 0.1688 149.1777);
  --chart-2: oklch(0.6983 0.1337 165.4626);
  --chart-3: oklch(0.7858 0.1598 85.3091);
  --chart-4: oklch(0.8087 0.0834 156.2328);
  --chart-5: oklch(0.8577 0.0282 157.9902);
  --sidebar: oklch(0.9859 0.0027 158.6587);
  --sidebar-foreground: oklch(0.3746 0.0777 152.6905);
  --sidebar-primary: oklch(0.6271 0.1699 149.2138);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9388 0.0344 157.9031);
  --sidebar-accent-foreground: oklch(0.4104 0.1066 149.9393);
  --sidebar-border: oklch(0.9436 0.0111 158.4640);
  --sidebar-ring: oklch(0.6271 0.1699 149.2138);
  --font-sans: Inter, system-ui, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.05;
  --shadow-color: hsl(142, 50%, 10%);
  --shadow-2xs: 0px 4px 10px 0px hsl(142 50% 10% / 0.03);
  --shadow-xs: 0px 4px 10px 0px hsl(142 50% 10% / 0.03);
  --shadow-sm: 0px 4px 10px 0px hsl(142 50% 10% / 0.05), 0px 1px 2px -1px hsl(142 50% 10% / 0.05);
  --shadow: 0px 4px 10px 0px hsl(142 50% 10% / 0.05), 0px 1px 2px -1px hsl(142 50% 10% / 0.05);
  --shadow-md: 0px 4px 10px 0px hsl(142 50% 10% / 0.05), 0px 2px 4px -1px hsl(142 50% 10% / 0.05);
  --shadow-lg: 0px 4px 10px 0px hsl(142 50% 10% / 0.05), 0px 4px 6px -1px hsl(142 50% 10% / 0.05);
  --shadow-xl: 0px 4px 10px 0px hsl(142 50% 10% / 0.05), 0px 8px 10px -1px hsl(142 50% 10% / 0.05);
  --shadow-2xl: 0px 4px 10px 0px hsl(142 50% 10% / 0.13);
  --tracking-normal: -0.01em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1405 0.0178 160.7913);
  --foreground: oklch(0.9859 0.0027 158.6587);
  --card: oklch(0.1722 0.0245 157.8448);
  --card-foreground: oklch(0.9859 0.0027 158.6587);
  --popover: oklch(0.1722 0.0245 157.8448);
  --popover-foreground: oklch(0.9859 0.0027 158.6587);
  --primary: oklch(0.7227 0.1920 149.5793);
  --primary-foreground: oklch(0.1824 0.0378 156.7630);
  --secondary: oklch(0.2636 0.0410 156.5019);
  --secondary-foreground: oklch(0.9859 0.0027 158.6587);
  --muted: oklch(0.2376 0.0353 156.7650);
  --muted-foreground: oklch(0.7798 0.0324 157.7897);
  --accent: oklch(0.3016 0.0493 156.2049);
  --accent-foreground: oklch(0.9859 0.0027 158.6587);
  --destructive: oklch(0.3901 0.1297 25.5736);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.3016 0.0493 156.2049);
  --input: oklch(0.3016 0.0493 156.2049);
  --ring: oklch(0.7227 0.1920 149.5793);
  --chart-1: oklch(0.7347 0.2012 148.9699);
  --chart-2: oklch(0.7750 0.1362 166.9055);
  --chart-3: oklch(0.8376 0.1649 87.5464);
  --chart-4: oklch(0.4766 0.0896 153.4849);
  --chart-5: oklch(0.3391 0.0346 156.2653);
  --sidebar: oklch(0.1567 0.0209 159.4012);
  --sidebar-foreground: oklch(0.9293 0.0139 158.3935);
  --sidebar-primary: oklch(0.7227 0.1920 149.5793);
  --sidebar-primary-foreground: oklch(0.1824 0.0378 156.7630);
  --sidebar-accent: oklch(0.2636 0.0410 156.5019);
  --sidebar-accent-foreground: oklch(0.9859 0.0027 158.6587);
  --sidebar-border: oklch(0.2636 0.0410 156.5019);
  --sidebar-ring: oklch(0.7227 0.1920 149.5793);
  --font-sans: Inter, system-ui, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 8px;
  --shadow-blur: 20px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.4;
  --shadow-color: hsl(0, 0%, 0%);
  --shadow-2xs: 0px 8px 20px 0px hsl(0 0% 0% / 0.20);
  --shadow-xs: 0px 8px 20px 0px hsl(0 0% 0% / 0.20);
  --shadow-sm: 0px 8px 20px 0px hsl(0 0% 0% / 0.40), 0px 1px 2px -1px hsl(0 0% 0% / 0.40);
  --shadow: 0px 8px 20px 0px hsl(0 0% 0% / 0.40), 0px 1px 2px -1px hsl(0 0% 0% / 0.40);
  --shadow-md: 0px 8px 20px 0px hsl(0 0% 0% / 0.40), 0px 2px 4px -1px hsl(0 0% 0% / 0.40);
  --shadow-lg: 0px 8px 20px 0px hsl(0 0% 0% / 0.40), 0px 4px 6px -1px hsl(0 0% 0% / 0.40);
  --shadow-xl: 0px 8px 20px 0px hsl(0 0% 0% / 0.40), 0px 8px 10px -1px hsl(0 0% 0% / 0.40);
  --shadow-2xl: 0px 8px 20px 0px hsl(0 0% 0% / 1.00);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
